<br><br>
<h1>Nouvelle dépense</h1>

 
<%= render 'form' %>
 
 
 
<div class="row">
	<div class="col-2"></div>
	
	<div class="col-2">
		<%= link_to 'Retour', expenses_path, class: "btn btn-outline-info" %>
	</div>
	
</div>
